body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #FFFFFF;
}

:root {
  --primary_brand-color: #4D5AE5;
  --pressed_state-color: #404BBF;
  --dark-color: #2E2F42;
  --success-color: #31D0AA;
  --text-color: #434455;
  --subtle_text-color: #8E8F99;
  --accent-color: #E7E9FC;
  --light-color: #F4F4FD;
  --modal_overlay-color: #2E2F42;
  --hero_background-color: #2E2F42;
  --white_background-color: #FFFFFF;
  --modal_background-color: #FCFCFC;
}

.list {
  list-style: none;
}

.navigation-logo {
  color: var(--primary_brand-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-span {
  color: var(--dark-color);
}

.navigation-link {
  color: var(--dark-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;  
}

.link {
  text-decoration: none;
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--pressed_state-color);
}

.address {
  font-style: normal;
}

.address-link {
  color: var(--text-color);
  font-size: 16px;
  /* font-weight: 500; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  /* cursor: pointer;
  text-decoration: none; */
}

.address-link:hover,
.address-link:focus {
  color: var(--pressed_state-color)
}

/* section no1 hero section */

.hero-section {
  background-color: var(--hero_background-color);
}

.hero-section-title {
  color: #FFF;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  /* font-weight: 700; */
}

.hero-section-button {
  background-color: var(--primary_brand-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #FFF;
  cursor: pointer;
}

.hero-section-button:hover,
.hero-section-button:focus {
  background-color: var(--pressed_state-color);
}

/* section no2 our strong sides */

.sides-section-heading {
  color: var(--dark-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.sides-section-text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* section no3 our team */

.team-section {
  background-color: var(--light-color);
}

.team-section-title {
  color: var(--dark-color);
  /* font-weight: 500; */
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.team-section-list {
  background-color: var(--white_background-color);
}

.team-section-people-title {
  color: var(--dark-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team-section-people-text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* section no4 our portfolio */

/* .portfolio-section {
  
}

.portfolio-section-title {

}

.portfolio-section-list {

} */

.portfolio-section-our-title {
  color: var(--dark-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-section-our-text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* footer */

footer {
  background-color: var(--hero_background-color);
}

.logo-footerspan {
  color: var(--light-color);
}

.footer-text {
  color: var(--light-color);
  /* font-size: 16px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
}