:root {
  --primary-brand-color: #4D5AE5;
  --pressed-state-color: #404BBF;
  --dark-color: #2E2F42;
  --success-color: #31D0AA;
  --text-color: #434455;
  --subtle-text-color: #8E8F99;
  --accent-color: #E7E9FC;
  --light-color: #F4F4FD;
  --modal-overlay-color: #2E2F42;
  --hero-background-color: #2E2F42;
  --white-background-color: #FFFFFF;
  --modal-background-color: #FCFCFC;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
  background-color: var(--white-background-color);
}

.nav-logo {
  color: var(--primary-brand-color);
  font-family: 'Raleway', sans-serif;
  /* text-decoration: none; */
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.nav-logo-span {
  color: var(--dark-color);
}

.nav-link {
  color: var(--dark-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  cursor: pointer;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
} 

.address-link {
  color: var(--text-color);
  font-size: 16px;
  /* font-weight: 400; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  cursor: pointer;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--pressed-state-color);
}

.address-link:hover,
.address-link:focus {
    color: var(--pressed-state-color);
}

.address {
  font-style: normal;
}






.section-one-hero {
  background-color: var(--hero-background-color);
}

.section-one-h1 {
  color: #FFF;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

.section-one-button {
  color: #FFF;
  background-color: var(--primary-brand-color);
  font-weight: 500;
  font-size: 16px;  
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.section-one-button:hover,
.section-one-button:focus {
  background-color: var(--pressed-state-color);
}

.section-h2 {
  color: var(--dark-color);
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.section-no2-title {
  color: var(--dark-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.section-no2-text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.section-no4 {
  background-color: var(--light-color);
}

.section-no4-image-background {
  background-color: var(--white-background-color);
}

.section-no4-title {
  color: var(--dark-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  }

.section-no4-text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-button {
  color: var(--primary-brand-color);
  background-color: #F4F4FD;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.portfolio-button:hover,
.portfolio-button:focus {
  color: #FFFFFF;
  background-color: #404BBF;
  
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.portfolio-title {
  color: var(--dark-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.portfolio-text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer {
  background-color: var(--hero-background-color);
}

.footer-logo {
  color: var(--primary-brand-color);
  font-family: 'Raleway', sans-serif;
  /* text-decoration: none; */
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-logo-span {
  color: var(--light-color);
}

.footer-text {
  color: var(--light-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}